.masthead {
  background: #4CB8C4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5 {
  color: #3CD3AD !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #3CD3AD !important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #3CD3AD;
}

h3.masthead-title, h3.masthead-title a {
  color: #FFF !important;
  text-align: center;
  font-size: 1.5em;
}

h3.masthead-title a:hover {
  text-decoration: none;
}

h3.masthead-title small {
  color: #FFF;
  font-weight: 200;
  font-size: 1em;
}

a {
  color: #4CB8C4;
}

a:hover {
  color: #3CD3AD;
}

label.sidebar-toggle {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFF;
}

.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.4);
}

.sidebar-toggle:active, #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: rgba(255, 255, 255, 0);
}

.recipes {
  padding-left: 0;
  list-style: none;
}
.recipes h3 {
  margin-top: 0;
}
.recipes li small {
	margin-left: 10px;
  font-size: 60%;
  color: #999;
}
.recipes li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.recipes li a:hover small {
  color: inherit;
}

div.ingredients {
	padding: 15px;
	border: 1px solid #DDD;
	border-radius: 4px;
	margin-bottom: 30px;
}

div.ingredients h3 {
	margin-top: 0px;
}

div.ingredients ul {
	margin-bottom: 0px;
}

div.steps {
	margin-bottom: 20px;
}

div.steps p {
	margin: 0;
	text-align: right;
	font-style: italic;
}

p.box {
	padding: 15px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.center-image
{
    margin: 0 auto;
    display: block;
}