h1.main {
  margin-bottom: 40px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 a {
  color: #000;
}

p {
  color: #9a9a9a;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

p a {
  color: #9a9a9a;
}
