.clear {clear: both;}

.container {
	max-width: 50rem;
}

.mainArea p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

p.beforeUL {
	margin-bottom: 0px;
}

li {
	font-size: 1em;
	list-style-type: disc;
	margin-left: 30px;
	padding-left: 0px;
}

.mainDetails {
	padding: 0;
	border-bottom: 1px solid #eee;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 400;
	margin-bottom: -15px;
}

#name h2 {
	font-size: 2em;
	font-weight: 200;
	margin-left: 0px;
}

#mainArea {
	padding: 0 40px;
}

#name {
	text-align: center;
	margin-bottom: 40px;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 16%;
}

.sectionContent {
	float: right;
	width: 76.5%;
}

.sectionTitle h1 {
	font-size: 0.95em;
	margin-top: 0px;
	color: #AAA;
	text-transform: uppercase;
}

.sectionContent h2 {
	font-size: 1.4em;
	margin-bottom: -2px;
	margin-top: 0px;
}

.sectionContent h2 a {
	color: #666;
}

.sectionContent h3 {
	font-size: 1.2em;
	margin-bottom: 8px;
	margin-top: 0px;
}

.subDetails {
	font-size: 0.85em;
	font-style: italic;
	margin-bottom: 3px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px 0;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	#headshot {
		display: none;
	}

	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}

	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		margin-left: 0px;
		font-size: 1.25em;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}

	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
		body {
			font-size: 13px;
		}

		/* Hide some items for print */
		.masthead, .sidebar-toggle {
			display: none;
		}

    #cv {
      width: 100%;
    }
}
