.navbar-brand {
  size: 1.4em;
}

header nav {
  border-bottom: 1px solid #eee;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #292b2c;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #292b2c;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
/* Footer */

footer.emoji {
  margin-bottom: 2em;
}

}