.navbar-brand {
  size: 1.4em;
}

a {
  color: #686d70;
}

a:hover {
  color: #4a4e50;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #292b2c;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #292b2c;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

/* Header */

header nav {
  border-bottom: 1px solid #eee;
}

header nav a:hover {
  border-bottom: 0px;
  text-decoration: none;
}

header .navbar-nav a:hover {
  border-bottom: 0px;
  text-decoration: none;
  background-color: #f6f6f6;
  border-radius: 5px;
}

/* Footer */

footer.emoji {
  margin-bottom: 2em;
  cursor: default;
  text-align: center;
  color: #bbb;
}

/* Index */

.site-introduction {
  margin: 4em 0 4em 0;
}

.posts-abstracts article, .talks-abstracts article {
  margin: 0 0 2em 0;
}

.posts-abstracts h1, .talks-abstracts h1 {
  font-weight: normal;
}

/* Post */

article.post header {
  margin: 6em 0 6em 0;
}

article.post header h1 a.back:before {
  content: "←";
  width: 1.1em;
  margin-left: -1.1em;
  display: inline-block;
  color: #ccc;
}

article.post .content h1, article.post .content h2, article.post .content h3 {
  margin: 2em 0 0.5em 0;
}

article.post .content h2 {
  font-size: 1.5em;
}

article.post .content h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #888;
}

article.post .content h1:before {
  content: "#";
  width: 1em;
  margin-left: -1em;
  display: inline-block;
  color: #ccc;
}

article.post .content {
  margin-bottom: 5em;
}

article.post .content table {
  width: 100%;
  font-size: 0.9em;
}

article.post .content table tr {
  border-bottom: 1px solid #EEE;
}

article.post .content table thead {
  border-bottom: 2px solid #DDD;
  font-weight: normal;
}

article.post .content table tr:last-child {
  border-bottom: 0px;
}

article.post .content table tr td {
  padding: 5px 0 5px 0;
}

@media (max-width:576px){
  article.post .content h1:before {
    width: 0.75em;
    margin-left: -0.75em;
  }
  
  article.post header h1 a.back:before {
    content: "";
  }
}

@media (max-width:800px){
  article.post header h1 a.back:before {
    font-size: 0.8em;
  }
}

/* Teaching */

.teaching {
  margin-bottom: 4em;
}

.teaching .card {
  margin-top: 2em;
}

.teaching .card .list-group {
  margin-top: 1em;
}

.teaching ul.intervention-documents {
  padding:0;
}

.teaching ul.intervention-documents a {
  display: block;
  padding: 0;
  border-bottom: 0;
}

.teaching ul.intervention-documents a:hover {
  background: #f8f8f8;
  display: block;
  border-bottom: 0;
}

.teaching ul.intervention-documents li {
  list-style-type: none;
  padding: 5px 10px;
  display: block;
}

.teaching ul.intervention-documents li:before {
	content: '→';
  margin-right: 5px;
}

.teaching ul.intervention-documents .icon-file {
  margin-left: 8px;
}

/* Category */

header.category {
  margin: 6em 0 6em 0;
}

.talks-abstracts img {
  margin-bottom: 0.5em;
}

.recipes-abstracts article {
  margin: 1em 0 1em 0;
}

.recipes-abstracts article:last-child {
  border-bottom: 0px;
}

.recipes-abstracts h1.post-title {
  margin-top: 0.5em;
}

@media (max-width:768px){
  .recipes-abstracts h1.post-title {
    margin-top: 0;
  }
}

.recipe .illustration {
  margin-bottom: 2em;
}

.recipe .illustration .credits {
  text-align: right;
  color: #bbb;
  font-size: 0.7em;
  text-decoration: none;
}

/* Recipe */

.recipe .card {
  margin-bottom: 2em;
}

/* Resume */

.resume section {
  margin-top: 4em;
}

.resume section:last-child {
  margin-bottom: 4em;
}

.resume section ul:last-child, .resume section .main>p:last-child, .resume section .main article:last-child>p:last-child {
  margin-bottom: 0;
}

.resume .main {
  border-left: 1px solid #bbbbbb;
}

.resume .main article {
  margin-bottom: 2em;
}

.resume .main article:last-child {
  margin-bottom: 0;
}

.resume .main h2 {
  font-size: 1.3em;
  font-weight: 500;
}

.resume .side h1 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}

.resume .side .resume-section-emoji {
  text-align: center;
  font-size: 3em;
}