.clear {clear: both;}

.intervention-detail {
  color: #9a9a9a;
  font-family: 'Source Sans Pro', sans-serif;
}

.cursus {
  display: inline-block;
  float: left;
}

.schoolyear {
  display: inline-block;
  float: right;
}

.section {
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  padding: 10px;
}

.section .octicon {
  margin: 0 10px 5px 0;
  vertical-align:middle;
}

.section h2, .external_resources h2 {
  margin: 0 0 10px 0;
  font-size: 1em;
  color: #777;
	text-transform: uppercase;
}

.section ul, .external_resources ul {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.section ul > li:before {
  content: "— ";
  color: #9a9a9a;
  font-weight: 700;
}

.external_resources {
  margin-top: 20px;
}

p.licence {
  font-size: 0.9em;
  font-style: italic;
  margin-top: -15px;
}
