.clear {clear: both;}

.intervention-detail {
  color: #9a9a9a;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.cursus {
  display: inline-block;
  float: left;
}

.schoolyear {
  display: inline-block;
  float: right;
}

.section {
  border: 1px solid #EEE;
  border-radius: 5px;
  padding: 10px;
}

.section .octicon {
  margin: 0 10px 5px 0;
  vertical-align:middle;
}

.section h2, .external_resources h2 {
  margin: 0;
  font-size: 0.9em;
  color: #9a9a9a;
	text-transform: uppercase;
}

.section ul, .external_resources ul {
  font-size: 0.8em;
  padding: 0 0 0 30px;
  margin: 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.external_resources {
  margin-top: 20px;
}

p.licence {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -15px;
}
