---
layout: default
title: Mes recettes
---

{% include header.html %}

<header class="category">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Mes recettes 🍴</h1>
        <p class="lead">Quelques recettes que j'aime préparer et manger (en français dans le texte).</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="recipes-abstracts">
  		{% assign posts = site.posts | sort: 'title' %}
    	{% for post in posts %}
    	{% if post.section contains 'recipe' %}
      <article>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="{{ post.url }}"><img src="{% if post.illustration.url %}{{ post.illustration.url }}{% else %}/recipes/assets/default.jpg{% endif %}" alt="{{ post.title }}" class="rounded float-right img-fluid" /></a>
            </div>
            <div class="col-sm-8">
              <span class="align-middle">
                <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <p><small class="text-muted">{{ post.date | date_to_string }}</small></p>
                <p><a href="{{ post.url }}" class="btn btn-outline-info btn-sm">Om nom nom →</a></p>
              </span>
            </div>
          </div>
        </div>
      </article>
    	{% endif %}
    	{% endfor %}
    </div>
  </div>
</div>
