---
layout: default
title: Home
---

<div>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead">
          {{ site.description }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="posts-abstracts">
  {% for post in site.posts %}
  {% if post.section contains 'blog' %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

          {{ post.excerpt }}

          <p><a href="{{ post.url }}" class="btn btn-outline-info btn-sm">Read more</a>
          <span>Published on {{ post.date | date_to_string }}.</span></p>
        </div>
      </div>
    </div>
  </article>
  {% endif %}
  {% endfor %}
</div>
