---
layout: default
title: Home
---

<div class="site-introduction">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="{{ site.baseurl }}assets/avatar.png" alt="{{ site.title }}" class="rounded img-fluid" />
      </div>
      <div class="col-9">
        <p class="lead">
          {{ site.description }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="posts-abstracts">
  {% for post in site.posts %}
  {% if post.section contains 'blog' %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

          {{ post.excerpt }}

          <p><small class="text-muted">Published on {{ post.date | date_to_string }}.</small></p>
          <p><a href="{{ post.url }}" class="btn btn-outline-info btn-sm">Read more →</a></p>
        </div>
      </div>
    </div>
  </article>
  {% endif %}
  {% endfor %}
</div>
