---
layout: default
title: Talks
---

<header class="category">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Talks</h1>
        <p class="lead">I like to talk about iOS development at meetups and conferences.</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="talks-abstracts">
    	{% for post in site.posts %}
    	{% if post.section contains 'talks' %}
      <article>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
             <a href="{{ post.url }}"><img src="{{ post.thumbnail_url }}" alt="{{ post.title }}" class="rounded float-right img-fluid" /></a>
            </div>
            <div class="col-sm-8">
              <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

              <p><small class="text-muted">Presented at <a href="{{ post.context_url }}">{{ post.context }}</a>, {{ post.date | date_to_string }}</small></p>
              <p><a href="{{ post.url }}" class="btn btn-outline-info btn-sm">See more →</a></p>
            </div>
          </div>
        </div>
      </article>
    	{% endif %}
    	{% endfor %}
    </div>
  </div>
</div>
