---
layout: default
title: Talks
---

<link rel="stylesheet" href="{{ site.baseurl }}css/talks.css">
<link rel="stylesheet" href="{{ site.baseurl }}css/simplegrid.css">
<link rel="stylesheet" href="{{ site.baseurl }}css/octicons/octicons.css">

<h1 class="main">Talks</h1>

<div class="grid">
	{% for post in site.posts %}
	{% if post.section contains 'talks' %}
  <div class="col-1-2">
    <div class="section">
      <a href="{{ post.url }}"><img src="{{ post.thumbnail_url }}" alt="{{ post.title }}" /></a>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p><a href="{{ post.context_url }}">{{ post.context }}</a>, {{ post.date | date_to_string }}</p>
      <hr/>
     </div>
  </div>
	{% endif %}
	{% endfor %}
</div>
