<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <title>{% if page.title == "Homepage" %} {{ site.name }} - {{ site.description }} {% else %} {{ page.title }} - {{ site.name }} {% endif %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="content-language" content="en-gb" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Lora:400,700,400italic" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />
      <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Site ATOM Feed">
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="off-canvas">
      <div id="avatar">
        <img src="{{ site.baseurl }}/assets/img/avatar.jpg" alt="Profile Picture" title="wow, very face, such photograph, wow">
      </div>
      <div id="bio">
          <h1>Hi, I'm {{ site.author }}.</h1>
          <p>Bonjour, je suis Adrien, 27 ans. Je travaille actuellement comme développeur iOS et Mac au sein de la start-up <a title="edjing" href="http://www.edjing.com">edjing</a>.</p>

		  <p>J'ai débuté la programmation en 2000 sur une calculatrice <a title="Casio CFX-9900GC" href="http://mycalcdb.free.fr/main.php?l=1&amp;id=6402">Casio CFX-9900GC</a>, dans un langage proche du Basic. J'ai créé mon premier site web en 2002 avec le bon vieux <a title="Wikipedia" href="http://fr.wikipedia.org/wiki/Bloc-notes_(Windows)">bloc-note de Windows</a>. Ont suivi une multitude de projets dont la plupart ne sont heureusement plus en ligne.</p>

		  <p>Passionné par la nature et la montagne, j'ai étudié les Sciences de la Terre à l'université, avant de me diriger définitivement vers l'informatique et le développement logiciel. Je me suis lancé dans la programmation pour iPhone à l'occasion d'un <a title="AppStore" href="https://www.google.fr/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;ved=0CDAQFjAA&amp;url=https%3A%2F%2Fitunes.apple.com%2Ffr%2Fapp%2Ffreepod%2Fid536943408&amp;ei=RDZoUo3IPK-e0wX83YH4Ag&amp;usg=AFQjCNHVsozYbjQYY1-3NVSyUkup7xjkEg&amp;bvm=bv.55123115,d.d2k">projet universitaire</a> en 2012 et ai réalisé depuis plusieurs projets personnels en parallèle de mon travail chez <a href="http://www.edjing.com">edjing</a>.</p>

		  <p><strong>Mes compétences :</strong><br />
		  <a href="http://en.wikipedia.org/wiki/Objective-C">#Objective-C</a>   <a href="http://en.wikipedia.org/wiki/Cocoa_Touch">#CocoaTouch</a>   <a href="http://en.wikipedia.org/wiki/Cocoa_(API)">#Cocoa</a>   <a href="http://en.wikipedia.org/wiki/C_(programming_language)">#C</a>   <a href="http://en.wikipedia.org/wiki/Java_(programming_language)">#Java</a>   <a href="http://en.wikipedia.org/wiki/Unified_Modeling_Language">#UML</a>   <a href="http://en.wikipedia.org/wiki/Php">#PHP</a>   <a href="http://en.wikipedia.org/wiki/Html">#HTML</a>   <a href="http://en.wikipedia.org/wiki/Css">#CSS</a>   <a href="http://en.wikipedia.org/wiki/JavaScript">#JavaScript</a>   <a href="http://en.wikipedia.org/wiki/Jquery">#jQuery</a>   <a href="http://en.wikipedia.org/wiki/Scrum_(software_development)">#SCRUM</a></p>
      </div>
    </div>

    <header>
      <div class="h-wrap">
        <h1 class="title"><a href="{{ site.baseurl }}" title="Back to Homepage">{{ site.name }}</a></h1>
        <a class="menu-icon" title="Open Bio"><span class="lines"></span></a>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <small>Powered by Jekyll, hosted on Github Pages, based on <a href="https://github.com/m3xm/hikari-for-Jekyll">hikari</a>.</small>
    </footer>

    <script src="{{ site.baseurl }}/js/main.js"></script>
    {% comment %} Google Analytics {% endcomment %}
    {% if site.ga_tracking_id and site.ga_domain %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.ga_tracking_id }}', '{{ site.ga_domain }}');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
</html>
