---
layout: default
---

<article class="post recipe">
  <header>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4"><a href="#" class="back" onclick="window.history.go(-1); return false;"></a>{{ page.title }}</h1>
          <p><small class="text-muted">Published on {{ page.date | date_to_string }}.</small></p>
        </div>
      </div>
    </div>
  </header>

  <div class="container content">
    <div class="row">
      <div class="col">

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
        			<ul class="list-group list-group-flush">
            		{% for step in page.steps %}
        					<li class="list-group-item">{{ step.title | markdownify | remove: '<p>' | remove: '</p>' }} : {{ step.duration | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        				{% endfor %}
        			</ul>
            </div>
          </div>
          
          <div class="col-sm-8">
            <div class="card">
              <div class="card-header">
                Ingrédients{% if page.quantity %} ({{ page.quantity }}){% endif %}
              </div>
        			<ul class="list-group list-group-flush">
        				{% for ingredient in page.ingredients %}
        					<li class="list-group-item">{{ ingredient | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        				{% endfor %}
        			</ul>
            </div>
          </div>
        </div>
	
      	<div class="clear"></div>
	
        	{{ content }}
	
      	{% if page.pairing_drinks %}
      	<p class="box">
      		Boisson conseillée : {{ page.pairing_drinks }}
      	</p>
      	{% endif %}
	
      	{% if page.pairing_food %}
      	<p class="box">
      		En accompagnement : {{ page.pairing_food }}
      	</p>
      	{% endif %}
      </div>
    </div>
  </div>
</article>
