---
layout: default
---

<link type="text/css" rel="stylesheet" href="/css/resume.css">

<div id="cv">
	<div class="mainDetails">
		<div id="name">
			<h1>Adrien Humilière</h1>
			<h2>iOS/Mac developer</h2>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea">
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>iOS Developer @ edjing</h2>
					<p class="subDetails">Since September 2012 - Boulogne-Billancourt, France</p>
					<p>DJiT is an editor of innovative music applications.<br/>
						I work at DJiT on the development, upgrade and optimisation of the social mix application <a href="http://www.edjing.com">edjing</a>. Released in 2012, edjing reached 15 millions downloads in march 2014.</p>
				</article>

				<article>
					<h2>Web Developer @ Fantasy.fr</h2>
					<p class="subDetails">September 2011 to August 2012 - Paris, France</p>
					<ul>
						<li>Object-oriented programming in PHP5 with CakePHP.</li>
						<li>Design of MySQL databases.</li>
						<li>XHTML 1.0 Strict & CSS ​​3 integration.</li>
						<li>Ergonomy and SEO oriented analysis.</li>
						<li>N-tier architecture and Design Patterns.</li>
					</ul>
				</article>

				<article>
					<h2>Trainee software developer @ Laboratoire IDES</h2>
					<p class="subDetails">April 2011 to August 2011 - Orsay, France</p>
					<p>Development and optimization of a lithosphere modeling software.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>

			<div class="sectionContent">
				<h3>Programming</h3>
				<ul class="keySkills">
					<li class="skill">Objective-C</li>
					<li class="skill">Swift</li>
					<li class="skill">C</li>
					<li class="skill">Cocoa</li>
					<li class="skill">Cocoa touch</li>
					<li class="skill">Web development</li>
				</ul>

				<h3>Languages</h3>
				<ul>
					<li>French : Native</li>
					<li>English : Professional working proficiency</li>
					<li>German : Elementary proficiency</li>
					<li>Quenya : Just for the Lulz</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Computer Sciences @ Université Pierre et Marie Curie (UPMC, Paris)</h2>
					<p class="subDetails">Graduated in September 2012</p>
					<p>I followed the DANT course (Applications Developer, New Technologies), which lead to a Bachelor degree in Computer Sciences.</p>
				</article>

				<article>
					<h2>Earth Sciences @ Université Pierre et Marie Curie (UPMC, Paris)</h2>
					<p> </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<article>
				<div class="sectionTitle">
					<h1>Hobbies</h1>
				</div>

				<div class="sectionContent">
					<p>Programming.<br/>
						Mountain biking, Cross-country skiing.<br/>
						Co-founder of the audio webshow <a href="http://www.poligeek.fr">Poligeek</a>, speaking about politics and high-tech (in standby since March 2013).
</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

	</div>
</div>
