---
layout: default
---

{% include header.html %}

<div class="container d-print-none">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contact me?</h5>
          <p class="card-text">Please reach out on <a href="https://www.linkedin.com/in/adhumi/">LinkedIn</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container resume">
  <section>
    <div class="row experience">
      <div class="col-md-3 side">
        <h1>Work Experience</h1>
      </div>
      <div class="col main">
  			{% for work in site.data.resume.work %}
  			<article>
  				<h2>{{ work.position_title }} <em>@</em> <a href="{{ work.company_url }}">{{ work.company }}</a></h2>
  				{% if work.end_date %}
  				<small>{{ work.start_date | date: "%B %Y"}} to {{ work.end_date | date: "%B %Y"}} – {{ work.location }}</small>
  				{% else %}
  				<small>Since {{ work.start_date | date: "%B %Y"}} – {{ work.location }}</small>
  				{% endif %}
  				{{ work.description }}
  				<p>Technologies: <em>{{ work.key_technologies | map: 'to_liquid' | array_to_sentence_string }}.</em></p>
  			</article>
  			{% endfor %}
      </div>
    </div>
  </section>
  
  <section>
    <div class="row skills">
      <div class="col-md-3 side">
        <h1>Skills</h1>
      </div>
      <div class="col main">
  			{% for section in site.data.resume.skills %}
  			<h2>{{ section.section_name }}</h2>
  			<ul>
  				{% for skill in section.list %}
  				<li>{{ skill.name }}: <em>{{ skill.description }}</em></li>
  				{% endfor %}
  			</ul>
  			{% endfor %}
      </div>
    </div>
  </section>

  <section>  
    <div class="row education">
      <div class="col-md-3 side">
        <h1>Education</h1>
      </div>
      <div class="col main">
  			{% for education in site.data.resume.education %}
  			<article>
  				<h2>{{ education.curiculum }} @ <a href="{{ education.university_url }}">{{ education.university }}</a></h2>
  				<small>Graduated in {{ education.end_date | date: "%B %Y"}} – {{ education.location }}</small>
  				{{ education.description }}

  				<p>Followed topics: <em>{{ education.key_teachings | map: 'to_liquid' | array_to_sentence_string }}.</em></p>
  			</article>
  			{% endfor %}
      </div>
    </div>
  </section>
  
  <section>
    <div class="row hobbies">
      <div class="col-md-3 side">
        <h1>Hobbies</h1>
      </div>
      <div class="col main">
  			{% for hobbie in site.data.resume.hobbies %}
  				{% if hobbie.title %}<h2>{{ hobbie.title }}</h2>{% endif %}
  				<p>{{ hobbie.description }}</p>
  			{% endfor %}
      </div>
    </div>
  </section>
</div>

<div class="container d-none d-print-block">
  <div class="row">
    <div class="col">
      <p>This document was exported from <a href="/resume">adhumi.fr/resume</a>.</p>
    </div>
  </div>
</div>
