---
layout: default
---

<div class="container teaching">
  <div class="row">
      <div class="col">
        {% for intervention in site.data.interventions %}
        <div class="card">
          <div class="card-header">
            <span class="md-auto">{{ intervention.school }}, {{ intervention.cursus }}</span>
            <span class="badge badge-success">{{ intervention.year }}</span>
          </div>
          <div class="card-block">
            <h2 class="card-title">{{ intervention.name }}{% if intervention.githubProjectURL %} <a href="{{ intervention.githubProjectURL }}"><span class="mega-octicon octicon-mark-github"></span></a>{% endif %}</h2>
            <p class="card-text lead">{{ intervention.abstract }}</p>
            {% if intervention.licence %}<p class="card-text"><small class="text-muted">{{ intervention.licence }}</small></p>{% endif %}
          </div>
          
          
          {% if intervention.sections %}
          <div class="card-block">
            <ul class="nav nav-tabs" role="tablist">
              {% for section in intervention.sections %}
              <li class="nav-item">
                <a class="nav-link{% if forloop.index == 1 %} active{% endif %}" data-toggle="tab" href="#{{ intervention.identifier }}_{{ forloop.index }}" role="tab">{{ section.name }}</a>
              </li>
              {% endfor %}
            </ul>
          
            <div class="tab-content">
            {% for section in intervention.sections %}
            <div class="tab-pane{% if forloop.index == 1 %} active{% endif %}" id="{{ intervention.identifier }}_{{ forloop.index }}" role="tabpanel">
              <div class="list-group">
                {% for subsection in section.content %}
                  <a class="list-group-item list-group-item-action justify-content-between"{% if subsection.link %} href="{{ subsection.link }}"{% endif %}>
                    {{ subsection.name }}
                    <span><span class="octicon octicon-cloud-download"></span></span>
                  </a>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
          {% endif %}
          
          {% if intervention.external_resources %}
          <div class="card-block">
            <ul>
              {% for external_resource in intervention.external_resources %}
                <li>{% if external_resource.octicon %}<span class="octicon {{ external_resource.octicon }}"></span>  {% endif %}{% if external_resource.url %}<a href="{{ external_resource.url }}">{% endif %}{{ external_resource.title }}{% if external_resource.url %}</a>{% endif %}{% if external_resource.note %} <em>({{ external_resource.note }})</em>{% endif %}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
</div>
