---
layout: default
---

<div class="container teaching">
  <div class="row">
      <div class="col" id="accordion" role="tablist" aria-multiselectable="true">
        {% for intervention in site.data.interventions %}
        <div class="card">
          <div class="card-header" id="heading{{ forloop.index }}">
            <h5 class="md-auto">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">
                {{ intervention.cursus }} <small>{{ intervention.year }}</small>
                <img src="/assets/{{ intervention.school-logo }}" class="float-right" alt="{{ intervention.school }}" />
              </a>
            </h5>
            {% if intervention.wip %}<span class="badge badge-pill badge-success">En cours</span>{% endif %}
          </div>
          <div id="collapse{{ forloop.index }}" class="collapse{% if forloop.index == 1 %} show{% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
            <div class="card-block">
              <h2 class="card-title">{{ intervention.name }}</h2>
              <p class="card-text lead">{{ intervention.abstract }}</p>
              {% if intervention.licence %}<p class="card-text"><small class="text-muted">{{ intervention.licence }}</small></p>{% endif %}
            </div>
          
            {% if intervention.sections %}
            <div class="card-block">
            {% for section in intervention.sections %}
              <h4>{{ section.name }}</h4>
              <ul class="intervention-documents">
              {% for subsection in section.content %}
                  <a{% if subsection.link %} href="{{ subsection.link }}"{% endif %}>
                    <li>
                      {{ subsection.name }} <i class="fa fa-file-{{ subsection.link | split: '/' | last | split: '.' | last }}-o icon-file" aria-hidden="true"></i>
                    </li>
                  </a>
              {% endfor %}
              </ul>
              {% endfor %}
            </div>
            {% endif %}
          
            {% if intervention.external_resources %}
            <div class="card-block">
              <ul>
                {% for external_resource in intervention.external_resources %}
                  <li>{% if external_resource.octicon %}<span class="octicon {{ external_resource.octicon }}"></span>  {% endif %}{% if external_resource.url %}<a href="{{ external_resource.url }}">{% endif %}{{ external_resource.title }}{% if external_resource.url %}</a>{% endif %}{% if external_resource.note %} <em>({{ external_resource.note }})</em>{% endif %}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
