---
layout: default
---

<div class="container">
  <div class="row">
      <div class="col">
        {% for intervention in site.data.interventions %}
        <div class="card">
          <div class="card-header">
            <span class="md-auto">{{ intervention.school }}, {{ intervention.cursus }}</span>
            <span class="badge badge-success">{{ intervention.year }}</span>
          </div>
          <div class="card-block">
            <h2 class="card-title">{{ intervention.name }}{% if intervention.githubProjectURL %} <a href="{{ intervention.githubProjectURL }}"><span class="mega-octicon octicon-mark-github"></span></a>{% endif %}</h2>
            <p class="card-text lead">{{ intervention.abstract }}</p>
            {% if intervention.licence %}<p class="card-text"><small class="text-muted">{{ intervention.licence }}</small></p>{% endif %}
          </div>
          <div class="card-block">
            {% if intervention.sections %}
            <div class="row">
              {% for section in intervention.sections %}
              <div class="col">
                  <h5>{{ section.name }}</h5>
                  <div class="list-group">
                    {% for subsection in section.content %}
                      <a class="list-group-item list-group-item-action justify-content-between"{% if subsection.link %} href="{{ subsection.link }}"{% endif %}>
                        {{ subsection.name }}
                        <span><span class="octicon octicon-cloud-download"></span></span>
                      </a>
                    {% endfor %}
                  </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="card-block">
            {% if intervention.external_resources %}
            <ul>
              {% for external_resource in intervention.external_resources %}
                <li>{% if external_resource.octicon %}<span class="octicon {{ external_resource.octicon }}"></span>  {% endif %}{% if external_resource.url %}<a href="{{ external_resource.url }}">{% endif %}{{ external_resource.title }}{% if external_resource.url %}</a>{% endif %}{% if external_resource.note %} <em>({{ external_resource.note }})</em>{% endif %}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
